@using Microsoft.Extensions.Options
@using MyBlog.Entities.Concrete
@inject IOptionsSnapshot<WebSiteInfo> WebsiteInfo
@{
    var websiteInfo = WebsiteInfo.Value;
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="~/img/logo.png" alt="Logo" style="width:40px;">
        </a>
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">@websiteInfo.MenuTitle</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">
                        Anasayfa
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="About">Hakkımızda</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Contact">İletişim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">Yönetim Paneli</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<div class="container col-lg-12">
    <div class="row">
        <div class="card bg-dark text-white text-center">
            <img class=" card-img img-fluid" src="~/img/banner.jpg" alt="...">
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);" class="card-img-overlay text-center mt-5">
                <h1 class="card-title">@websiteInfo.Title</h1>
                <p class="card-text">@websiteInfo.SeoDescription</p>
            </div>
        </div>
    </div>
</div>
