@using Microsoft.Extensions.Options
@using MyBlog.Entities.Concrete
@inject IOptionsSnapshot<WebSiteInfo> WebsiteInfo
@{
    var websiteInfo = WebsiteInfo.Value;
}
@section Styles{
<link href="~/BlogHome/css/main.css" rel="stylesheet">
}

<div class="wrap mb-6">

    <header role="banner">

        <div class="container logo-wrap">
            <div class="row pt-5">
                <div class="col-12 text-center">
                    <a class="absolute-toggle d-block d-md-none" data-toggle="collapse" href="#navbarMenu" role="button" aria-expanded="false" aria-controls="navbarMenu"><span class="burger-lines"></span></a>
                    <h1 class="site-logo"><a style="text-decoration:none; color:black" asp-controller="Home" asp-action="Index">@websiteInfo.Title</a></h1>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-md  navbar-light bg-light">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link active" asp-controller="Home" asp-action="Index">Anasayfa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"  asp-controller="Home" asp-action="About">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Contact">İletişim</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>
</div>
